<nav class="navbar navbar-expand-lg no-shrink navbar-shrink" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <%= image_tag(asset_path('logo.png'), class:"nav_logo_icon", alt:"Placements.io") %>
            <span class="nav_logo_text"></span>		
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item" >
                  <%= link_to 'Campaigns', campaigns_path,  class: "nav-link rounded-3  #{'active' if params[:controller] == 'campaigns'}" %>
                </li>
                <li class="nav-item" >
                  <%= link_to 'Invoices', invoices_path,  class: "nav-link rounded-3  #{'active' if params[:controller] != 'campaigns'}" %>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0" style="width: 6rem; color: black">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user nav-account-icon"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><%= link_to "Account", edit_user_registration_path , class: 'dropdown-item' %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>