<!DOCTYPE html>
<html>
  <head>
    <title>Placements</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom/core', async: true %>
  </head>

  <body id="page-top" class="bg-main">

    <%= render 'shared/alerts', notice: notice, alert: alert %>
   
    <%= render 'shared/nav'%> 
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
